:root{
    --yours-blue :#2fd2dd;
    --github-black :#24292E;
    
}
body{
    background-color: aqua;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    
}
nav{
    background-color: var(--github-black);
    padding: 1rem 3rem;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    text-align: right;
    color: var(--yours-blue);
    
    
}
textarea{
    display: block;
    border: 1px solid black;
    border-radius: 0.2rem;
    width: 80%;
    margin: 1rem;
    padding: 1rem; 
    background-color: aliceblue;
    font-weight: bold;
    
}
#output-div{
    border : 1px solid black;
    padding: 1rem;
    margin: 1rem 1rem 1rem 1rem;
    width: 80%;
    font-weight: bold;
    border-radius: 0.2rem;
    background-color: aliceblue;
    
}

#btn-translate{
    background-color: azure;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid black;
    font-weight: bolder;
    background-color: var(--yours-blue);
    border-radius: 0.35rem;
    padding: 0.5rem;
    margin: 1rem;
    color: black;
    outline: none;
}
 
#error-div{
    font-size : larger;
    font-weight: 1000;
    margin: 1rem;
    padding: 1rem;
    color: rgba(255, 0, 0, 0.801);
    text-align: center;
}

.list-item-inline{
    display: inline;
    padding : 0rem 0.5rem;
    color : whitesmoke;
    
}


.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: var(--primary-color);
    box-sizing: border-box;
}
.footer{
    position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vh;
    text-align: center;
    color: azure;
    padding: 1.5rem;
    background-color: var(--github-black);
    border-top-left-radius: 1rem;
}
.footer-header{
    color: var(--github-black);
    font-weight: bold;
    color: azure;
    padding: 0.2rem;
    text-align: left;
}
.footer .social-links{
    display: inline;
    list-style: none;
}

.footer .social-links .list-non-bullet{
    list-style : none;
    /* margin-top: 3rem ; */
    padding-inline-start: 0rem;
    
}
.footer .social-links .link:hover{
    color: var(--yours-blue);
    transition: all 0.3s ease-in-out;
}
.footer .footer-copy{
    font-weight: 450;
    font-size: small;
    color: gray;
    padding: 1rem 3rem 0rem 0rem;
}